node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
!.env.demo
.DS_Store
supabase/.temp
supabase/.branches
supabase/functions/.env
.vscode/*
!.vscode/extensions.json

# Cache binaan TypeScript
*.tsbuildinfo
